@page

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Успешная регистрация в системе ДО</title>
</head>
<body>
<div>
    <p>Уважаемый @ViewBag.Credentials.FirstName @ViewBag.Credentials.Patronymic! Вы были зарегистрированы в системе дистанционного образования @ViewBag.University и добавлены в группу @ViewBag.GroupName.</p>
    <p>Вот ваши данные для входа:</p>
    <p>Логин: <code>@ViewBag.Credentials.Email</code></p>
    <p>Пароль: <code>@ViewBag.Credentials.Password</code></p>
    <p>Используйте их на сайте <a href="@ViewBag.Domain">системы</a></p>
    <hr/>
    <small>Это письмо отправлено автоматической системой, отвечать на него не нужно</small>
</div>
</body>
</html>